body{
    background:#b01d1d;
    margin:0;
    padding: 0;
    overflow: hidden;
  }
  .first-page{
    color: beige;
    background: linear-gradient(90deg,deeppink 0%,tomato 100%);
    background-position: 0 0;
    background-size: 200%,100%;
    animation: changebg 3s linear infinite alternate;

  }
@keyframes changebg{
    0%{background-position: 0 0;}
    100%{background-position: 100% 0;}
  }
  .first-page-text{
    font-size: 50px;
    padding: 50px;
  }
  .first-page-text>p:nth-child(5),.first-page-text>p:nth-child(6){
    text-align: right;
    font-size: 30px;
  }

  canvas {
    width:26%;
    height:26%;
    position: absolute;
    left: 38%;
    top: 30%;
    z-index: 1;
  }

  div.metadata {
    position: absolute;
    bottom:0;
    width: 100%;
    font-family: Helvetica, Arial;
    font-size:11px;
    font-weight: bold;
    text-align: center;
    color: rgba(151,26,22,1);
  }
  div.metadata p {
    height: 20px;
  }
  a {
    color: inherit;
    text-decoration: none;
    display:inline-block;
    padding: 0 4px 3px 4px;
    border-bottom: 2px solid rgba(151,26,22,1);
    transition: all .2s;
  }
  a:hover {
    padding: 0 4px 1px 4px;
    border-bottom: 4px solid rgba(254,121,68,0.4);
  }

  div.title {
    position: absolute;
    opacity: 0;
    top:18%;
    width: 100%;
    text-align:center;
    font-family: 'Lato', sans-serif !important;
    font-style: normal;
    font-weight: 100;
    font-size: 60px;
    padding-top:40px;
    color: rgba(254,255,240,1);
    z-index: 2;
  }
  .bgpicture{
      width: 100%;
      position: absolute;
      top: 30%;
      opacity: 0.9;
  }
  .extra-block{
    width: 100px;
    height: 100px;
    background: black;
    border: none;
    position: absolute;
    opacity: 0;
  }
  .belly{
    width: 150px;
    height: 150px;
    top: 56%;
    left: 50%;
  }
  .left-hand{
    top: 42%;
    left: 14%;
  }
  .right-hand{
    top: 59%;
    left: 72%;
  }
  .shy{
    top: 65%;
    left: 49%;
    z-index: 3;
  }
  .shy-text{
    top: 65%;
    left: 49%;
    background: #fff;
    border-radius: 50%;
    border: #b01d1d 3px solid;
    color: #b01d1d;
    opacity: 0;
    font-size: 50px;
    text-align: center;
    line-height:100px;
  }
  .totalopacity{
    opacity: 1;
  }